@font-face {
  font-family: "EB Garamond";
  src: url("./EBGaramond_Italic.ttf") format("truetype");
  font-style: italic;
  font-weight: normal;
}

@font-face {
  font-family: "IM Fell English";
  src: url("./IMFellEnglishSC.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Courier Prime";
  src: url("./CourierPrime.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
